@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-y: hidden;
    overflow-x: hidden;
}  
 


@layer utilities {
  .custom-scrollbar {
    /* Firefox */
    scrollbar-width:thin; /* Makes the scrollbar thin */
    scrollbar-color: darkgrey slategrey; /* Thumb and track colors */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 1em; /* Width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Track shadow */
    background-color: slategrey; /* Track background */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Thumb background */
    outline: 1px solid slategrey; /* Thumb border */
  }

  .activities {
    padding-bottom: 1.25rem; /* pb-5 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%; /* w-full */
    /*max-height: auto; /* max-h-[70vh] */
  
  }
  .activityBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* w-full */
    /*margin-top: 0.5rem; /* mt-2 */
    padding: 15px 0px 15px 0px;
  }

  .activitiesC{
    padding-left: 2.25rem; /* px-9 */
    padding-right: 2.25rem; /* px-9 */
    margin-bottom: 1.75rem;
    flex-wrap: wrap; /* flex-wrap */
    width: 100%; /* w-full */
    margin-top: 1.75rem; /* mt-7 */
    gap: 1.25rem; /* gap-5 */
    justify-content: center;
    align-items: center;
  }

  .activity{
      width: 25rem; /* w-fit */
      display: flex;
      justify-content: space-between;
      gap: 1.75rem; /* gap-7 */
     /*  background-color: #e2e8f0; /* bg-slate-200 */
      /*border: 1px solid #1c4072; /* border-[#1c4072] */
      border-top-right-radius: 1rem; /* rounded-r-2xl */
      border-bottom-right-radius: 1rem; /* rounded-r-2xl */
      border-top-left-radius: 0.5rem; /* rounded-l-lg */
      border-bottom-left-radius: 0.5rem; /* rounded-l-lg */
      transition: transform 0.2s; /* duration-200 */
      cursor: pointer; /* hover:cursor-pointer */ 
  }

  .activity:hover {
    transform: scale(0.95); /* hover:scale-95 */
  }

  .btnClick{
    background: rgb(42, 96, 171)!important;
    color: white!important;
  }

  .lvlAc {
    background-color: #0e9f6e!important ;
  }
  .lvlD{
    background-color: #1c4072;
  }




  #ad-container {
    width: 100%;
    background: red;
    margin-bottom: 200px;
    text-align: center;
  }

 
  



  

}
